/* Global Styles */
body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

header {
  background-color: pink;
  height: 10vh;
  min-height: 50px;
  color: black;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

/* Main Content Styles */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #e0218a;
}

main {
  padding: 10px;
  height: calc(90vh - 40px); /* Adjusted height for header and form */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

/* Scrollbar Styles */
main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #65000b;
}

/* Form Styles */
form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

form button {
  flex: 1; /* Adjusted button width */
  background-color: black;
  border: none;
  color: pink;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Sign-in Styles */
.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

/* List and Paragraph Styles */
ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

/* Message Styles */
.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}

.received p {
  background: #e5e5ea;
  color: black;
}

/* Avatar Styles */
img.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}